@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/** Colors */
$primary:               #525ddc;
$naranja: #CC5758;
$grisoscuro: #2E372E;
$grismedio: #707070;
$grisclaro: #C4C3C3;
$grispalido: #EBEBEB;
$casiblanco: #F0F0F0;

/** Box Model  */
$spacer:                2rem;
